<%= content_for :title, "Edit Department - #{@department.name}" %>

<%= render 'api/v1/shared/header/header', user: current_user %>

<main role="main">
  <div class="container">
    <div class="py-5">
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h3">Edit department</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4"></div>
      <div class="col-md-8 order-md-1">
        <!--<h4 class="mb-3">Edit Department</h4>-->

        <%= render 'api/v1/shared/notifications/notice_alerts', notice: notice %>

        <%= render 'api/v1/shared/notifications/form_errors', model: @department %>

        <%= form_for @department, url: { action: 'update'} do |f|  %>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control',
                                 placeholder: 'e.g: pre-school, JHS, etc.', required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.submit :Update, class: 'btn btn-primary' %>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</main>

