<% require 'constants' %>
<%= content_for :title, "Edit Class - #{@classroom.name}" %>
<%= render 'api/v1/shared/header/header', user: current_user %>

<main role="main" >
  <div class="container">
    <div class="py-5">
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h3">Edit Class</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <!--<div class="btn-group mr-2">-->
            <!--<button class="btn btn-sm btn-outline-secondary">Share</button>-->
            <!--<button class="btn btn-sm btn-outline-secondary">Export</button>-->
            <!--</div>-->

            <%= link_to 'View All', class_rooms_staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4"></div>
      <div class="col-md-8 order-md-1">
        <%= render 'api/v1/shared/notifications/notice_alerts', notice: notice %>

        <%= render 'api/v1/shared/notifications/form_errors', model: @classroom %>

        <%= form_for @classroom, url: { action: 'update_classroom' } do |f| %>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :name, 'Class Name' %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'e.g: Pry 1', required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :teacher_id, 'Class Teacher' %>
                <%= f.collection_select :teacher_id, User.select(:id, :first_name, :last_name).order('first_name asc'), :id, :full_name,
                                        {include_blank: 'Choose a staff'},
                                        {class: 'custom-select d-block w-100', required: true} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :department_id, 'Department' %>
                <%= f.collection_select :department_id, Department.select(:id, :name).order('name asc'), :id, :name,
                                        {include_blank: 'Choose a department'},
                                        {class: 'custom-select d-block w-100', required: true}
                %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.submit :Update, class: 'btn btn-primary' %>
              </div>
            </div>
        <% end %>

      </div>
    </div>

  </div>
</main>

