<% require 'constants' %>
<%= content_for :title, 'Students' %>
<%= render 'api/v1/shared/header/header', user: current_user %>

<main role="main" >
  <div class="container">
    <div class="py-5">
    </div>

    <div class="row">

      <!-- NOTIFICATION DISPLAY GOES HERE -->
      <div class="col-sm-12">
        <%= render 'api/v1/shared/notifications/notice_alerts', notice: notice, alert: alert %>
      </div>


      <div class="col-sm-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
          <h1 class="h3">Students (<%= @students.count %>)</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Import</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>

            <%= link_to 'Add Student', new_student_staff_path(current_user), class: 'btn btn-sm btn-outline-secondary', role: 'button' %>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <% if @students.present? %>
            <%= render 'api/v1/students/table_view_students', students: @students, current_user: current_user %>
        <% else %>
            <div class="alert alert-info">No students found</div>
        <% end %>
      </div>
    </div>

  </div>
</main>

