<%= content_for :title, 'Dashboard' %>

<%= render 'api/v1/shared/header/header', user: current_user %>

<main role="main">
  <div class="album py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= render 'api/v1/shared/notifications/notice_alerts' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h4 class="mb-3"><strong>Welcome! </strong><%= current_user.first_name.capitalize %></h4>
        </div>
      </div>


      <div class="row">

        <!-- ADD STAFF -->
        <% if is_admin?(current_user) %>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to 'Add Staffs', new_staff_path %>
                </h5>
                <p class="card-text">Add your teaching staffs</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'View', staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                    <%= link_to 'Edit', staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                  </div>
                  <small class="text-muted"><%= total_staffs %></small>
                </div>
              </div>
            </div>
          </div>

          <!-- ADD DEPARTMENT -->
          <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to 'Add Departments', new_staff_department_path(current_user) %>
              </h5>
              <p class="card-text">Add your departments </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', new_staff_department_path(current_user), class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                  <%= link_to 'Edit', new_staff_department_path(current_user), class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                </div>
                <small class="text-muted"><%= total_departments %></small>
              </div>
            </div>
          </div>
        </div>

          <!-- ADD ACADEMIC SESSIONS -->
          <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to 'Add Academic Session', new_staff_academic_session_path(current_user) %>
              </h5>
              <p class="card-text">Add your academic sessions</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', staff_academic_sessions_path(current_user), class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                  <%= link_to 'Edit', staff_academic_sessions_path(current_user), class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                </div>
                <small class="text-muted"><%= total_academic_sessions %></small>
              </div>
            </div>
          </div>
        </div>

          <!-- ADD SUBJECTS -->
          <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to 'Add Subjects', new_staff_subject_path(current_user) %>
              </h5>
              <p class="card-text">Add your subjects here</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', '', class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                  <%= link_to 'Edit', new_staff_subject_path(current_user), class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                </div>
                <small class="text-muted"><%= total_subjects %></small>
              </div>
            </div>
          </div>
        </div>

          <!-- ADD CLASSES -->
          <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to 'Add Classes', new_classroom_staff_path(current_user) %>
              </h5>
              <p class="card-text">Add your classes</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', class_rooms_staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                  <%= link_to 'Edit', class_rooms_staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                </div>
                <small class="text-muted"><%= total_classrooms %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <!-- ADD STUDENTS -->
        <% if is_admin?(current_user) || teacher_exists?(current_user.id) %>
          <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= link_to 'Add Students', new_student_staff_path(current_user) %>
                  </h5>
                  <p class="card-text">Add your students</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', students_staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                      <%= link_to 'Edit', students_staffs_path, class: 'btn btn-sm btn-outline-secondary', role: 'button' %>
                    </div>
                    <small class="text-muted"><%= total_students %></small>
                  </div>
                </div>
              </div>
            </div>
        <% end %>


        <!-- ADD SCORE -->
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to 'Add Students Score' %>
              </h5>
              <p class="card-text">Add students score</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <!--<small class="text-muted">0</small>-->
              </div>
            </div>
          </div>
        </div>

        <!-- GENERATE REPORTS -->
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to 'Generate Reports' %>
              </h5>
              <p class="card-text">Generate students reports</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <!--<small class="text-muted">0</small>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


