<% content_for :title, 'Login' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>

    <%= image_tag 'https://getbootstrap.com/assets/brand/bootstrap-solid.svg', width: 72, height: 72 %>

    <header class="text-center">
      <h4 class="text-primary my-3">Elican Report Card App</h4>
      <h5 class="mb-3 font-weight-normal">Please sign in</h5>
    </header>

    <%= render 'api/v1/shared/notifications/notice_alerts', notice: notice, alert: alert %>

    <%= label_tag 'inputEmail', 'Email address', class: 'sr-only' %>
    <%= f.email_field :email, id: 'inputEmail', class: 'form-control',
                      placeholder: 'Email address', autofocus: true,
                      autocomplete: 'email', required: true %>

    <%= label_tag 'inputPassword', 'Password', class: 'sr-only' %>
    <%= f.password_field :password, id: 'inputPassword',
                         class: 'form-control', placeholder: 'Password',
                         autocomplete: 'off', required: true  %>


    <% if devise_mapping.rememberable? -%>
        <div class="checkbox mb-3">
          <%= label_tag '' do %>
              <%= f.check_box :remember_me %> Remember me
          <% end  %>
        </div>
    <% end -%>

    <%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block' %>
    <p class="mt-5 mb-3 text-muted">Powered by Elican &copy; 2017-2018</p>

  <%= render "devise/shared/links" %>

<% end %>

  <!--</div>-->



